*{
    margin: 0;
    padding: 0;
 }
 body{
    background-image: linear-gradient(to right, #CDDEEF, #E4D6DE);
   user-select: none;
 }
 .all{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

 }
 #container{
    margin: auto;
    width: 55vw;
    margin-top: 10vh;
    background-image: linear-gradient(to right, #D370B2, #C9AEDB);
   user-select: none;
    border-radius: 50px;
    height: 80vh;
    display: flex;
    justify-content: space-between;
 }
 .us, #buttons{
    width: 23vw;
    height: 75vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
 }
 .uname{
    text-align: center;
    margin-top: 10%;
 }
 .btn{
    border: 1px solid transparent;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    margin: auto;
 }
 .rand{
    position: absolute;
    top: 75%;
    left: 45%;
    color: white;
    font-size: xx-large;
    font-weight: 100;
    text-align: center;
 }
 .sc{
    position: absolute;
    background-image: linear-gradient(to right, #94F3FF, #FFA4C3);
    border: 0px solid transparent;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    width: 50px;
    text-align: center;
    color: #94F3FF;
    font-size: xx-large;
    left: 40%;
    top: 80%;
 }
 #image{
    display: none;
    width: 100px;
    height: 100px;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px green;
    margin-bottom: 50%;
    margin-left: 35%;
 }

 .avatar{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to right, #94F3FF, #FFA4C3);
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 4px rgba(188, 188, 188, 0.291);
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
 }

 .inside {
    width: 98px;
    height: 98px;
 }

 .card{
    width: 250px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    background: #F8F7FA;
 }
 .col{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
 }
 .break{
    height: 5vh;
    border: 1px solid rgba(128, 128, 128, 0.739);
 }

 .User{
    position: relative;
    margin-top: 100px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;

 }
 @font-face {
    font-family: 'Poppins';
    src: url(Poppins.woff2) format('woff2');
   }
 
 h2{
    font-family: 'Poppins',sans-serif;
    font-size: large;
 }
 .mail, .txt{
    color: grey;
 }
 .xtx {
    font-weight: bold;
    margin-top: 15px;
    font-size: large;
 }
 .file{
    width: 35px;
    height: 35px;
 }
 .ntb{
    color: aliceblue;
    justify-content: center;
    text-align: center;
 }
 .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn {
    background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, #94F3FF 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn:before,
  .btn:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn:hover{
    background: transparent;
    color: #002756;
    box-shadow: none;
  }
  .btn:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn span:before,
  .btn span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn span:hover:before {
    width: 100%;
  }
  .btn span:hover:after {
    width: 100%;
  }
  